<a href="https://colab.research.google.com/github/Mayank0195/IMDB_Web_Scraping/blob/main/Action_movies_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import requests 
from bs4 import BeautifulSoup
from time import sleep
from random import randint

In [2]:
#Declaring the headers
header = {"Accept-Language" : "en-US, en; q = 0.5"}

In [3]:
movie_name = []
year = []
time=[]
rating=[]
genres =[]
description = []
director = []
casts = []

In [4]:
#creating an array of values and passing it in the url for dynamic webpages
pages = list(np.arange(1,10002,50))
print(pages)

#the whole core of the script
for page in pages:
    pag = requests.get("https://www.imdb.com/search/title/?title_type=feature&genres=action&start={}&explore=genres&ref_=adv_nxt".format(page))
    soup = BeautifulSoup(pag.text, 'html.parser')
    movie_data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
            name = store.find('h3', class_= 'lister-item-header').find('a').text
            movie_name.append(name)

            try:
              year_of_release = store.find('span', class_ = "lister-item-year text-muted unbold").text[1:5]
              year.append(year_of_release)
            except:
              year.append(None)


            try: 
              runtime = store.p.find('span', class_ = 'runtime').text[0:7]
              time.append(runtime)
            except:
              time.append(None)

            rate = store.find('div', class_ = "inline-block ratings-imdb-rating")
            try:
              ratings = (rate.find('strong').text)
              rating.append(ratings)
            except:
              rating.append(None)

            genre = store.p.find('span', class_ = 'genre').text.replace('\n', '')
            genres.append(genre)

            describe = store.find_all('p', class_ = 'text-muted')
            description_ = describe[1].text.replace('\n', '') if len(describe) >1 else '*****'
            description.append(description_)
            
            try:
              direct = store.select_one("p:nth-of-type(3)").find('a').text[:]
              director.append(direct)
            except:
              director.append(None)

            try:
              cast = store.select_one("p:nth-of-type(3)").select_one("a:nth-of-type(2)").text[:],store.select_one("p:nth-of-type(3)").select_one("a:nth-of-type(3)").text[:]
              casts.append(cast)
            except:
              casts.append(None)

[1, 51, 101, 151, 201, 251, 301, 351, 401, 451, 501, 551, 601, 651, 701, 751, 801, 851, 901, 951, 1001, 1051, 1101, 1151, 1201, 1251, 1301, 1351, 1401, 1451, 1501, 1551, 1601, 1651, 1701, 1751, 1801, 1851, 1901, 1951, 2001, 2051, 2101, 2151, 2201, 2251, 2301, 2351, 2401, 2451, 2501, 2551, 2601, 2651, 2701, 2751, 2801, 2851, 2901, 2951, 3001, 3051, 3101, 3151, 3201, 3251, 3301, 3351, 3401, 3451, 3501, 3551, 3601, 3651, 3701, 3751, 3801, 3851, 3901, 3951, 4001, 4051, 4101, 4151, 4201, 4251, 4301, 4351, 4401, 4451, 4501, 4551, 4601, 4651, 4701, 4751, 4801, 4851, 4901, 4951, 5001, 5051, 5101, 5151, 5201, 5251, 5301, 5351, 5401, 5451, 5501, 5551, 5601, 5651, 5701, 5751, 5801, 5851, 5901, 5951, 6001, 6051, 6101, 6151, 6201, 6251, 6301, 6351, 6401, 6451, 6501, 6551, 6601, 6651, 6701, 6751, 6801, 6851, 6901, 6951, 7001, 7051, 7101, 7151, 7201, 7251, 7301, 7351, 7401, 7451, 7501, 7551, 7601, 7651, 7701, 7751, 7801, 7851, 7901, 7951, 8001, 8051, 8101, 8151, 8201, 8251, 8301, 8351, 8401, 8451, 8501, 8551, 8601, 8651, 8701, 8751, 8801, 8851, 8901, 8951, 9001, 9051, 9101, 9151, 9201, 9251, 9301, 9351, 9401, 9451, 9501, 9551, 9601, 9651, 9701, 9751, 9801, 9851, 9901, 9951, 10001]

In [5]:
a = { "Movie Name": movie_name, "Year of Release" : year, "Watch Time": time,"Movie Rating": rating, "Genres": genres, "Description":description, "Director":director, "Cast":casts}

In [7]:
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
df.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
0,Thor: Love and Thunder,2022,118 min,6.4,"Action, Adventure, Comedy","Thor enlists the help of Valkyrie, Korg and ex...",Taika Waititi,"(Chris Hemsworth, Natalie Portman)"
1,The Woman King,2022,135 min,6.1,"Action, Drama, History",A historical epic inspired by true events that...,Gina Prince-Bythewood,"(Viola Davis, Thuso Mbedu)"
2,Top Gun: Maverick,2022,130 min,8.4,"Action, Drama","After thirty years, Maverick is still pushing ...",Joseph Kosinski,"(Tom Cruise, Jennifer Connelly)"
3,Avatar: The Way of Water,2022,None,None,"Action, Adventure, Fantasy",Jake Sully lives with his newfound family form...,James Cameron,"(Zoe Saldana, Kate Winslet)"
4,Bullet Train,2022,127 min,7.5,"Action, Comedy, Thriller",Five assassins aboard a fast moving bullet tra...,David Leitch,"(Brad Pitt, Joey King)"

In [8]:
df.shape

(10045, 8)

In [9]:
df['Movie Name'].value_counts()

Hero                         5
Run                          4
Vendetta                     4
Animal                       4
Guru                         4
                            ..
Operation Dumbo Drop         1
Fist of the North Star       1
Suchîmubôi                   1
Keeper of the Lost Cities    1
Di yi lei xing wei xian      1
Name: Movie Name, Length: 9665, dtype: int64

In [10]:
df = df.dropna()
df

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
0,Thor: Love and Thunder,2022,118 min,6.4,"Action, Adventure, Comedy","Thor enlists the help of Valkyrie, Korg and ex...",Taika Waititi,"(Chris Hemsworth, Natalie Portman)"
1,The Woman King,2022,135 min,6.1,"Action, Drama, History",A historical epic inspired by true events that...,Gina Prince-Bythewood,"(Viola Davis, Thuso Mbedu)"
2,Top Gun: Maverick,2022,130 min,8.4,"Action, Drama","After thirty years, Maverick is still pushing ...",Joseph Kosinski,"(Tom Cruise, Jennifer Connelly)"
4,Bullet Train,2022,127 min,7.5,"Action, Comedy, Thriller",Five assassins aboard a fast moving bullet tra...,David Leitch,"(Brad Pitt, Joey King)"
5,Everything Everywhere All at Once,2022,139 min,8.1,"Action, Adventure, Comedy",An aging Chinese immigrant is swept up in an i...,Dan Kwan,"(Daniel Scheinert, Michelle Yeoh)"
...,...,...,...,...,...,...,...,...
10040,Inception,2010,148 min,8.8,"Action, Adventure, Sci-Fi",A thief who steals corporate secrets through t...,Christopher Nolan,"(Leonardo DiCaprio, Joseph Gordon-Levitt)"
10041,Tenet,2020,150 min,7.3,"Action, Sci-Fi, Thriller","Armed with only one word, Tenet, and fighting ...",Christopher Nolan,"(John David Washington, Robert Pattinson)"
10042,Blade Runner 2049,2017,164 min,8.0,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Denis Villeneuve,"(Harrison Ford, Ryan Gosling)"
10043,Lightyear,2022,100 min,5.9,"Animation, Action, Adventure",While spending years attempting to return home...,Angus MacLane,"(Chris Evans, Keke Palmer)"
10044,VR (Vikrant Rona),2022,148 min,7.4,"Action, Adventure, Drama","Almost half a century ago, a remote village in...",Anup Bhandari,"(Sudeep, Nirup Bhandari)"

In [11]:
df.sort_values("Movie Name", inplace=True)
df

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
1135,#Saraitda,2020,98 min,6.3,"Action, Drama, Horror",The rapid spread of an unknown infection has l...,Il Cho,"(Yoo Ah-in, Park Shin-Hye)"
1437,'71,2014,99 min,7.2,"Action, Crime, Drama","In 1971, a young and disoriented British soldi...",Yann Demange,"(Jack O'Connell, Sam Reid)"
3657,'A' gai wak 2,1987,106 min,7.0,"Action, Comedy, Crime",Dragon is now transferred to be the police hea...,Jackie Chan,"(Jackie Chan, Maggie Cheung)"
6808,'Di puwedeng hindi puwede!,1999,108 min,7.5,"Action, Comedy",my pets name is rudy castro,Francis Posadas,"(Robin Padilla, Vina Morales)"
6591,'G' fung bou,2021,83 min,4.9,"Action, Crime",Follows an investigator as he prevents a terro...,David Lam,"(Louis Koo, Julian Cheung)"
...,...,...,...,...,...,...,...,...
9740,"Águila Roja, la película",2011,119 min,4.9,"Action, Adventure, History","Red Eagle takes place in 1660, where Portugal,...",José Ramón Ayerra,"(David Janer, Javier Gutiérrez)"
1218,Æon Flux,2005,93 min,5.4,"Action, Adventure, Sci-Fi",Æon Flux is a mysterious assassin working for ...,Karyn Kusama,"(Charlize Theron, Frances McDormand)"
7904,Çanakkale Yolun Sonu,2013,101 min,7.1,"Action, Drama, History","April, 1915. First World War in Canakkale, Ott...",Kemal Uzun,"(Serdar Akar, Ahmet Karaman)"
5684,Çiçero,2019,126 min,6.5,"Action, Crime, Drama",Ilyas Bazna works as a butler in the British E...,Serdar Akar,"(Erdal Besikçioglu, Burcu Biricik)"
4003,Ölümlü Dünya,2018,107 min,7.6,"Action, Comedy, Crime",Mermer Family lives a double life working at t...,Ali Atay,"(Ahmet Mümtaz Taylan, Alper Kul)"

In [12]:
df = df.drop_duplicates()
df

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
1135,#Saraitda,2020,98 min,6.3,"Action, Drama, Horror",The rapid spread of an unknown infection has l...,Il Cho,"(Yoo Ah-in, Park Shin-Hye)"
1437,'71,2014,99 min,7.2,"Action, Crime, Drama","In 1971, a young and disoriented British soldi...",Yann Demange,"(Jack O'Connell, Sam Reid)"
3657,'A' gai wak 2,1987,106 min,7.0,"Action, Comedy, Crime",Dragon is now transferred to be the police hea...,Jackie Chan,"(Jackie Chan, Maggie Cheung)"
6808,'Di puwedeng hindi puwede!,1999,108 min,7.5,"Action, Comedy",my pets name is rudy castro,Francis Posadas,"(Robin Padilla, Vina Morales)"
6591,'G' fung bou,2021,83 min,4.9,"Action, Crime",Follows an investigator as he prevents a terro...,David Lam,"(Louis Koo, Julian Cheung)"
...,...,...,...,...,...,...,...,...
9740,"Águila Roja, la película",2011,119 min,4.9,"Action, Adventure, History","Red Eagle takes place in 1660, where Portugal,...",José Ramón Ayerra,"(David Janer, Javier Gutiérrez)"
1218,Æon Flux,2005,93 min,5.4,"Action, Adventure, Sci-Fi",Æon Flux is a mysterious assassin working for ...,Karyn Kusama,"(Charlize Theron, Frances McDormand)"
7904,Çanakkale Yolun Sonu,2013,101 min,7.1,"Action, Drama, History","April, 1915. First World War in Canakkale, Ott...",Kemal Uzun,"(Serdar Akar, Ahmet Karaman)"
5684,Çiçero,2019,126 min,6.5,"Action, Crime, Drama",Ilyas Bazna works as a butler in the British E...,Serdar Akar,"(Erdal Besikçioglu, Burcu Biricik)"
4003,Ölümlü Dünya,2018,107 min,7.6,"Action, Comedy, Crime",Mermer Family lives a double life working at t...,Ali Atay,"(Ahmet Mümtaz Taylan, Alper Kul)"

In [13]:
df = df.reset_index(drop=True)
df

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
0,#Saraitda,2020,98 min,6.3,"Action, Drama, Horror",The rapid spread of an unknown infection has l...,Il Cho,"(Yoo Ah-in, Park Shin-Hye)"
1,'71,2014,99 min,7.2,"Action, Crime, Drama","In 1971, a young and disoriented British soldi...",Yann Demange,"(Jack O'Connell, Sam Reid)"
2,'A' gai wak 2,1987,106 min,7.0,"Action, Comedy, Crime",Dragon is now transferred to be the police hea...,Jackie Chan,"(Jackie Chan, Maggie Cheung)"
3,'Di puwedeng hindi puwede!,1999,108 min,7.5,"Action, Comedy",my pets name is rudy castro,Francis Posadas,"(Robin Padilla, Vina Morales)"
4,'G' fung bou,2021,83 min,4.9,"Action, Crime",Follows an investigator as he prevents a terro...,David Lam,"(Louis Koo, Julian Cheung)"
...,...,...,...,...,...,...,...,...
8967,"Águila Roja, la película",2011,119 min,4.9,"Action, Adventure, History","Red Eagle takes place in 1660, where Portugal,...",José Ramón Ayerra,"(David Janer, Javier Gutiérrez)"
8968,Æon Flux,2005,93 min,5.4,"Action, Adventure, Sci-Fi",Æon Flux is a mysterious assassin working for ...,Karyn Kusama,"(Charlize Theron, Frances McDormand)"
8969,Çanakkale Yolun Sonu,2013,101 min,7.1,"Action, Drama, History","April, 1915. First World War in Canakkale, Ott...",Kemal Uzun,"(Serdar Akar, Ahmet Karaman)"
8970,Çiçero,2019,126 min,6.5,"Action, Crime, Drama",Ilyas Bazna works as a butler in the British E...,Serdar Akar,"(Erdal Besikçioglu, Burcu Biricik)"
8971,Ölümlü Dünya,2018,107 min,7.6,"Action, Comedy, Crime",Mermer Family lives a double life working at t...,Ali Atay,"(Ahmet Mümtaz Taylan, Alper Kul)"

In [14]:
df[df['Movie Name'] == "Zack Snyder's Justice League"]

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
8878,Zack Snyder's Justice League,2021,242 min,8.0,"Action, Adventure, Fantasy",Determined to ensure that Superman's ultimate ...,Zack Snyder,"(Henry Cavill, Ben Affleck)"

In [15]:
df.to_csv('amovies.csv')

In [16]:
#creating an array of values and passing it in the url for dynamic webpages
pages = list(np.arange(10052,20003,50))
print(pages)

#the whole core of the script
for page in pages:
    pag = requests.get("https://www.imdb.com/search/title/?title_type=feature&genres=action&start={}&explore=genres&ref_=adv_nxt".format(page))
    soup = BeautifulSoup(pag.text, 'html.parser')
    movie_data = soup.findAll('div', attrs = {'class': 'lister-item mode-advanced'})
    sleep(randint(2,8))
    for store in movie_data:
            name = store.find('h3', class_= 'lister-item-header').find('a').text
            movie_name.append(name)

            try:
              year_of_release = store.find('span', class_ = "lister-item-year text-muted unbold").text[1:5]
              year.append(year_of_release)
            except:
              year.append(None)


            try: 
              runtime = store.p.find('span', class_ = 'runtime').text[0:7]
              time.append(runtime)
            except:
              time.append(None)

            rate = store.find('div', class_ = "inline-block ratings-imdb-rating")
            try:
              ratings = (rate.find('strong').text)
              rating.append(ratings)
            except:
              rating.append(None)

            genre = store.p.find('span', class_ = 'genre').text.replace('\n', '')
            genres.append(genre)

            describe = store.find_all('p', class_ = 'text-muted')
            description_ = describe[1].text.replace('\n', '') if len(describe) >1 else '*****'
            description.append(description_)
            
            try:
              direct = store.select_one("p:nth-of-type(3)").find('a').text[:]
              director.append(direct)
            except:
              director.append(None)

            try:
              cast = store.select_one("p:nth-of-type(3)").select_one("a:nth-of-type(2)").text[:],store.select_one("p:nth-of-type(3)").select_one("a:nth-of-type(3)").text[:]
              casts.append(cast)
            except:
              casts.append(None)

[10052, 10102, 10152, 10202, 10252, 10302, 10352, 10402, 10452, 10502, 10552, 10602, 10652, 10702, 10752, 10802, 10852, 10902, 10952, 11002, 11052, 11102, 11152, 11202, 11252, 11302, 11352, 11402, 11452, 11502, 11552, 11602, 11652, 11702, 11752, 11802, 11852, 11902, 11952, 12002, 12052, 12102, 12152, 12202, 12252, 12302, 12352, 12402, 12452, 12502, 12552, 12602, 12652, 12702, 12752, 12802, 12852, 12902, 12952, 13002, 13052, 13102, 13152, 13202, 13252, 13302, 13352, 13402, 13452, 13502, 13552, 13602, 13652, 13702, 13752, 13802, 13852, 13902, 13952, 14002, 14052, 14102, 14152, 14202, 14252, 14302, 14352, 14402, 14452, 14502, 14552, 14602, 14652, 14702, 14752, 14802, 14852, 14902, 14952, 15002, 15052, 15102, 15152, 15202, 15252, 15302, 15352, 15402, 15452, 15502, 15552, 15602, 15652, 15702, 15752, 15802, 15852, 15902, 15952, 16002, 16052, 16102, 16152, 16202, 16252, 16302, 16352, 16402, 16452, 16502, 16552, 16602, 16652, 16702, 16752, 16802, 16852, 16902, 16952, 17002, 17052, 17102, 17152, 17202, 17252, 17302, 17352, 17402, 17452, 17502, 17552, 17602, 17652, 17702, 17752, 17802, 17852, 17902, 17952, 18002, 18052, 18102, 18152, 18202, 18252, 18302, 18352, 18402, 18452, 18502, 18552, 18602, 18652, 18702, 18752, 18802, 18852, 18902, 18952, 19002, 19052, 19102, 19152, 19202, 19252, 19302, 19352, 19402, 19452, 19502, 19552, 19602, 19652, 19702, 19752, 19802, 19852, 19902, 19952, 20002]

In [17]:
b = { "Movie Name": movie_name, "Year of Release" : year, "Watch Time": time,"Movie Rating": rating, "Genres": genres, "Description":description, "Director":director, "Cast":casts}

In [18]:
df1 = pd.DataFrame.from_dict(b, orient='index')
df1 = df1.transpose()
df1.head()

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
0,Thor: Love and Thunder,2022,118 min,6.4,"Action, Adventure, Comedy","Thor enlists the help of Valkyrie, Korg and ex...",Taika Waititi,"(Chris Hemsworth, Natalie Portman)"
1,The Woman King,2022,135 min,6.1,"Action, Drama, History",A historical epic inspired by true events that...,Gina Prince-Bythewood,"(Viola Davis, Thuso Mbedu)"
2,Top Gun: Maverick,2022,130 min,8.4,"Action, Drama","After thirty years, Maverick is still pushing ...",Joseph Kosinski,"(Tom Cruise, Jennifer Connelly)"
3,Avatar: The Way of Water,2022,None,None,"Action, Adventure, Fantasy",Jake Sully lives with his newfound family form...,James Cameron,"(Zoe Saldana, Kate Winslet)"
4,Bullet Train,2022,127 min,7.5,"Action, Comedy, Thriller",Five assassins aboard a fast moving bullet tra...,David Leitch,"(Brad Pitt, Joey King)"

In [19]:
df1.shape

(20045, 8)

In [20]:
df1 = df1.dropna()
df1

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
0,Thor: Love and Thunder,2022,118 min,6.4,"Action, Adventure, Comedy","Thor enlists the help of Valkyrie, Korg and ex...",Taika Waititi,"(Chris Hemsworth, Natalie Portman)"
1,The Woman King,2022,135 min,6.1,"Action, Drama, History",A historical epic inspired by true events that...,Gina Prince-Bythewood,"(Viola Davis, Thuso Mbedu)"
2,Top Gun: Maverick,2022,130 min,8.4,"Action, Drama","After thirty years, Maverick is still pushing ...",Joseph Kosinski,"(Tom Cruise, Jennifer Connelly)"
4,Bullet Train,2022,127 min,7.5,"Action, Comedy, Thriller",Five assassins aboard a fast moving bullet tra...,David Leitch,"(Brad Pitt, Joey King)"
5,Everything Everywhere All at Once,2022,139 min,8.1,"Action, Adventure, Comedy",An aging Chinese immigrant is swept up in an i...,Dan Kwan,"(Daniel Scheinert, Michelle Yeoh)"
...,...,...,...,...,...,...,...,...
20040,Inception,2010,148 min,8.8,"Action, Adventure, Sci-Fi",A thief who steals corporate secrets through t...,Christopher Nolan,"(Leonardo DiCaprio, Joseph Gordon-Levitt)"
20041,Tenet,2020,150 min,7.3,"Action, Sci-Fi, Thriller","Armed with only one word, Tenet, and fighting ...",Christopher Nolan,"(John David Washington, Robert Pattinson)"
20042,Blade Runner 2049,2017,164 min,8.0,"Action, Drama, Mystery",Young Blade Runner K's discovery of a long-bur...,Denis Villeneuve,"(Harrison Ford, Ryan Gosling)"
20043,Lightyear,2022,100 min,5.9,"Animation, Action, Adventure",While spending years attempting to return home...,Angus MacLane,"(Chris Evans, Keke Palmer)"
20044,VR (Vikrant Rona),2022,148 min,7.4,"Action, Adventure, Drama","Almost half a century ago, a remote village in...",Anup Bhandari,"(Sudeep, Nirup Bhandari)"

In [21]:
df1.sort_values("Movie Name", inplace=True)
df1

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
1135,#Saraitda,2020,98 min,6.3,"Action, Drama, Horror",The rapid spread of an unknown infection has l...,Il Cho,"(Yoo Ah-in, Park Shin-Hye)"
1437,'71,2014,99 min,7.2,"Action, Crime, Drama","In 1971, a young and disoriented British soldi...",Yann Demange,"(Jack O'Connell, Sam Reid)"
3657,'A' gai wak 2,1987,106 min,7.0,"Action, Comedy, Crime",Dragon is now transferred to be the police hea...,Jackie Chan,"(Jackie Chan, Maggie Cheung)"
6808,'Di puwedeng hindi puwede!,1999,108 min,7.5,"Action, Comedy",my pets name is rudy castro,Francis Posadas,"(Robin Padilla, Vina Morales)"
6591,'G' fung bou,2021,83 min,4.9,"Action, Crime",Follows an investigator as he prevents a terro...,David Lam,"(Louis Koo, Julian Cheung)"
...,...,...,...,...,...,...,...,...
9740,"Águila Roja, la película",2011,119 min,4.9,"Action, Adventure, History","Red Eagle takes place in 1660, where Portugal,...",José Ramón Ayerra,"(David Janer, Javier Gutiérrez)"
1218,Æon Flux,2005,93 min,5.4,"Action, Adventure, Sci-Fi",Æon Flux is a mysterious assassin working for ...,Karyn Kusama,"(Charlize Theron, Frances McDormand)"
7904,Çanakkale Yolun Sonu,2013,101 min,7.1,"Action, Drama, History","April, 1915. First World War in Canakkale, Ott...",Kemal Uzun,"(Serdar Akar, Ahmet Karaman)"
5684,Çiçero,2019,126 min,6.5,"Action, Crime, Drama",Ilyas Bazna works as a butler in the British E...,Serdar Akar,"(Erdal Besikçioglu, Burcu Biricik)"
4003,Ölümlü Dünya,2018,107 min,7.6,"Action, Comedy, Crime",Mermer Family lives a double life working at t...,Ali Atay,"(Ahmet Mümtaz Taylan, Alper Kul)"

In [22]:
df1 = df1.drop_duplicates()
df1

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
1135,#Saraitda,2020,98 min,6.3,"Action, Drama, Horror",The rapid spread of an unknown infection has l...,Il Cho,"(Yoo Ah-in, Park Shin-Hye)"
1437,'71,2014,99 min,7.2,"Action, Crime, Drama","In 1971, a young and disoriented British soldi...",Yann Demange,"(Jack O'Connell, Sam Reid)"
3657,'A' gai wak 2,1987,106 min,7.0,"Action, Comedy, Crime",Dragon is now transferred to be the police hea...,Jackie Chan,"(Jackie Chan, Maggie Cheung)"
6808,'Di puwedeng hindi puwede!,1999,108 min,7.5,"Action, Comedy",my pets name is rudy castro,Francis Posadas,"(Robin Padilla, Vina Morales)"
6591,'G' fung bou,2021,83 min,4.9,"Action, Crime",Follows an investigator as he prevents a terro...,David Lam,"(Louis Koo, Julian Cheung)"
...,...,...,...,...,...,...,...,...
9740,"Águila Roja, la película",2011,119 min,4.9,"Action, Adventure, History","Red Eagle takes place in 1660, where Portugal,...",José Ramón Ayerra,"(David Janer, Javier Gutiérrez)"
1218,Æon Flux,2005,93 min,5.4,"Action, Adventure, Sci-Fi",Æon Flux is a mysterious assassin working for ...,Karyn Kusama,"(Charlize Theron, Frances McDormand)"
7904,Çanakkale Yolun Sonu,2013,101 min,7.1,"Action, Drama, History","April, 1915. First World War in Canakkale, Ott...",Kemal Uzun,"(Serdar Akar, Ahmet Karaman)"
5684,Çiçero,2019,126 min,6.5,"Action, Crime, Drama",Ilyas Bazna works as a butler in the British E...,Serdar Akar,"(Erdal Besikçioglu, Burcu Biricik)"
4003,Ölümlü Dünya,2018,107 min,7.6,"Action, Comedy, Crime",Mermer Family lives a double life working at t...,Ali Atay,"(Ahmet Mümtaz Taylan, Alper Kul)"

In [23]:
df1 = df1.reset_index(drop=True)
df1

,Movie Name,Year of Release,Watch Time,Movie Rating,Genres,Description,Director,Cast
0,#Saraitda,2020,98 min,6.3,"Action, Drama, Horror",The rapid spread of an unknown infection has l...,Il Cho,"(Yoo Ah-in, Park Shin-Hye)"
1,'71,2014,99 min,7.2,"Action, Crime, Drama","In 1971, a young and disoriented British soldi...",Yann Demange,"(Jack O'Connell, Sam Reid)"
2,'A' gai wak 2,1987,106 min,7.0,"Action, Comedy, Crime",Dragon is now transferred to be the police hea...,Jackie Chan,"(Jackie Chan, Maggie Cheung)"
3,'Di puwedeng hindi puwede!,1999,108 min,7.5,"Action, Comedy",my pets name is rudy castro,Francis Posadas,"(Robin Padilla, Vina Morales)"
4,'G' fung bou,2021,83 min,4.9,"Action, Crime",Follows an investigator as he prevents a terro...,David Lam,"(Louis Koo, Julian Cheung)"
...,...,...,...,...,...,...,...,...
8967,"Águila Roja, la película",2011,119 min,4.9,"Action, Adventure, History","Red Eagle takes place in 1660, where Portugal,...",José Ramón Ayerra,"(David Janer, Javier Gutiérrez)"
8968,Æon Flux,2005,93 min,5.4,"Action, Adventure, Sci-Fi",Æon Flux is a mysterious assassin working for ...,Karyn Kusama,"(Charlize Theron, Frances McDormand)"
8969,Çanakkale Yolun Sonu,2013,101 min,7.1,"Action, Drama, History","April, 1915. First World War in Canakkale, Ott...",Kemal Uzun,"(Serdar Akar, Ahmet Karaman)"
8970,Çiçero,2019,126 min,6.5,"Action, Crime, Drama",Ilyas Bazna works as a butler in the British E...,Serdar Akar,"(Erdal Besikçioglu, Burcu Biricik)"
8971,Ölümlü Dünya,2018,107 min,7.6,"Action, Comedy, Crime",Mermer Family lives a double life working at t...,Ali Atay,"(Ahmet Mümtaz Taylan, Alper Kul)"

In [24]:
df = df.append(df1,ignore_index=True)

In [25]:
df.to_csv('amovies.csv')